*{
    margin: 0px;
    padding: 0px;
}

   
   
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.row{
  margin: 0px;
  margin-right: 20px;

 
}
main{
    width: 100%;
  
    background-color: rgb(249, 249, 249);

    
}

img{
    width:200px;
    height: 40px;
}

#logo{
    color: white;
    display: inline-block;
    width: 69%;
    text-align: left;
    height: 40px;
    font-family: 'Geologica', sans-serif;
    margin-left: 11px;
    padding-top: 13px;
    font-size: large;
}



ul{
    display: inline-block;
}

li{
    display: inline-block; 
    text-align: left; 
    
    
}

li a{
    text-decoration:none;
    color: white;
    padding: 4px;

}
footer{
    background-color: rgb(48, 47, 47);
    color: white;
    text-align: center;
    width: 100%;
    position: static;
     bottom: 0;
    

}



#me{
   margin-top: 90px;
    text-align: center;
    
}
#imgMe{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-top: 100px;

}



#text-information-about-me{
    color: black;
    text-align: center;
    height: auto;
    min-height: 400px;
  
    
}

.textComplete{
  margin-top:10px !important;
}

#me{
  display: inline-block;
  width: 39%;

}

#form-contact{

    padding-top: 50px;
    text-align: center;
 
}


form{

    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    height: 70vh;
}

.input-form{

    margin-top: 25px;

}

.input-text{
    padding: 5px;
    text-align: center;
    width: 370px;
    border-radius: 4px;
    font-size: 15px;

}

.input-submit{
    padding: 3px;
    background-color: rgb(144, 101, 101);
    width: 170px;
    color: white;
    border-radius: 4px;
}

#text-aviso{
    color: black;
}


.input-checkbox{
    width:15px;
    height:15px;
}


/*Card*/
.card {
    width: 300px;
    border: 1px solid #3b3b3b;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
  }
  
  .card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 200px;
  }
  
  .card-content h2 {
    font-size: 18px;
    margin-bottom: 8px;
    color: black;
  }
  
  .card-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
    color: black;
  }
  
  .card-content a {
    display: inline-block;
    background-color: brown;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
  }
  
#projects{
    
    padding-top: 100px;
    margin: auto;
  }


  /*Posts*/

  #posts{
    
    padding-top: 30px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;

  }
  .cardPost {
    width: 100%;
    border: 1px solid #1e1d1d;
    border-radius: 4px;
    padding:5px;
    
    margin-bottom: 16px;
  }
  
  .cardPost img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .card-contentPost h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card-contentPost p {
    font-size: 14px;
    color: #323030;
    margin-bottom: 8px;
  }
  
  .post-date {
    color: #424141;
  }
  
  .read-more {
    display: inline-block;
    background-color: brown;
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
  }
  


  #titlepost{
    margin-bottom: 30px;
    font-size: 40px;
  }

  /*Tecnologias*/
  .technologies-section {
    
    padding: 24px;
    border-radius: 4px;
  }
  
  .technologies-section h2 {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;


  }
  
  .technology {
    width: 400px;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 20px;
    height: 220px;
    
  }
  
  .technology img {
    width: 130px;
    height: 135px;
    margin-bottom: 8px;
    border-radius: 20px;
  }
  
  .technology h3 {
    font-size: 18px;
  }
  

  
#titlecontact{
  margin-bottom: 30px;
  font-size: 40px; 
}

#titlecaboutme{  
  margin-top: 30px;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}